/* #timezone{
	width: 900px;
} */
	
table {
	border-spacing : 5px;
/* 	border-collapse: separate; */
}
	
tr:nth-child(odd) { 
	background-color: #E5E5E5;
}
tr:nth-child(even) {
	background-color: #D1D1D1;
}

td {
	padding: 10px;
	vertical-align: top;
}

#timezone td:nth-child(1) {
	width: 100px;
	text-align: left;
}
#timezone td:nth-child(2) {
	width: 250px;
	text-align: left;
}
#timezone td:nth-child(3) {;
	width: 70px;
	text-align: center;
}
#timezone td:nth-child(4) {;
	width: 60px;
	text-align: center;
}
#timezone td:nth-child(5) {
	width: 335px;
	text-align: left;
}

#timezone_list td:nth-child(1) {
	width: 100px;
	text-align: left;
}
#timezone_list td:nth-child(2) {
	width: 250px;
	text-align: left;
}
#timezone_list td:nth-child(3) {;
	width: 70px;
	text-align: center;
}
#timezone_list td:nth-child(4) {;
	width: 60px;
	text-align: center;
}
#timezone_list td:nth-child(5) {;
	width: 60px;
	text-align: center;
}
#timezone_list td:nth-child(6) {
	width: 250px;
	text-align: left;
}

/* td.button {;
	width: 60px;
	text-align: center;
} */

th {
	background-color: #fff;
	text-align: left;
}

th.filter {
	background-color: #fff;
	text-align: right;
}

/* select.my_dropdown {
    width:240px;
} */
